@using AspNetCoreIdentity.ViewModels;

@{
    ViewData["Title"] = "SignUp";
}

@model SingUpViewModel
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        
        @if (TempData["SuccedMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccedMessage"]
            </div>
        }


        <h2>SignUp</h2>

        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <form asp-controller="Home" asp-action="SignUp" method="post">
            <div class="row mb-3">
                <label for="UserName" class="col-md-4 col-form-label" asp-for="UserName"></label>
                <div class="col-md-8">
                    <input asp-for="UserName" class="form-control">
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Phone" class="col-md-4 col-form-label" asp-for="Phone"></label>
                <div class="col-md-8">
                    <input asp-for="Phone" class="form-control">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="Password"></label>
                <div class="col-md-8">
                    <input asp-for="Password" class="form-control">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordConfirm" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-md-4">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </div>
        </form>

    </div>
</div>


