@using AspNetCoreIdentity.ViewModels;

@{
    ViewData["Title"] = "PasswordChange";
}

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
@model PasswordChangeViewModel

<h1>PasswordChange</h1>



<div class="row">
    <div class="col-md-4 offset-md-4">

        <h2>Sign In</h2>

        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <form method="post">
            
            <div class="mb-3">
                <label for="OldPassword" class="form-label" asp-for="OldPassword"></label>
                <input class="form-control" asp-for="OldPassword">
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>

            <div class="mb-3">
                <label for="NewPassword" class="form-label" asp-for="NewPassword"></label>
                <input class="form-control" asp-for="NewPassword">
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>

            <div class="mb-3">
                <label for="ConfirmPassword" class="form-label" asp-for="ConfirmPassword"></label>
                <input class="form-control" asp-for="ConfirmPassword">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>

        </form>

    </div>
</div>

